<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear</title>
</head>
<body>
    <form action="/create" method="post">
        <label for="id">Id:</label>
        <input type="text" id="id" name="id" required><br><br>
        <label for="first_name">First name:</label>
        <input type="text" id="first_name" name="first_name" required><br><br>
        <label for="last_name">Last name:</label>
        <input type="text" id="last_name" name="last_name" required><br><br>
        <label for="height_feet">height feet:</label>
        <input type="text" id="height_feet" name="height_feet" required><br><br>
        <label for="position">position:</label>
        <input type="text" id="position" name="position" required><br><br>
        <input type="submit" value="Submit">
        
    </form>
</body>
</html>