<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Jugador</title>
</head>
<body>
   <%= player.first_name %>
    <a href="/delete?id=<%= player.id %>">Eliminar</a> 
</body>
</html>